/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.board {
    width: 400px;
    border: 1px solid black;
    float: left;
    margin-right: 1em;
}

.board td {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.rack {
    width: 104px;
    border: 1px solid black;
    margin-right: 15px;
}
.rack-left {
    float: left;
}
.rack-container {
    vertical-align: baseline;
}
.rack td {
    width: 8px;
    min-width: 8px;
    height: 8px;
    min-height: 8px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.piece-square {
    background-color: #444444;
}

.red { background-color: red }
.green { background-color: green }
.blue { background-color: blue }
.yellow { background-color: yellow }
.purple { background-color: light-purple }
.orange { background-color: orange }
.white { background-color: white }
.bad { background-color: #FF7777 }
