/* This file is for your main application css. */

@import "./phoenix.css";
@import "./live_view.css";

.game-container {
}

.rack-container {
    width: 145px;
    height: 255px;
    border: 1px solid #222222;
    display: inherit;
    float: left;
    margin: 0 1em 0 0;
    background-color: #eeeeff;
}

/* Rack squares are an a(nchor) instead of span so that click events bubble up correctly on iOS */
.rack-container a {
    width: 11px;
    padding: 0 0 11px;
    display: block;
    float: left;
}

.rack-controls {
}

.rack-controls img {
    padding-left: 6px;
    padding-top: 12px;
}

.rack-controls button {
    margin-top: 2px;
    margin-left: 20px;
}

.board-container {
    width: 300px;
    border: 1px solid black;
    float: left;
    margin-right: 1em;
    background-color: #f8f8f8;
}

.board span {
    width: 15px;
    min-width: 15px;
    height: 15px;
    min-height: 15px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.piece-in-hand {
    background: url(/images/piece_in_hand.png);
}

.piece-in-opponent-hand {
    background: url(/images/piece_in_hand.png);
    transform: rotate(90deg);
    opacity: 0.3;
}

.rack {
    width: 78px;
    border: 1px solid black;
    margin-right: 15px;
}
.rack-left {
    float: left;
}
.rack-container {
    vertical-align: baseline;
}
.rack td {
    width: 6px;
    min-width: 6px;
    height: 6px;
    min-height: 6px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.piece-square {
    background-color: #443333;
}

.selected-piece {
    background-color: #ff8888;
}

.red { background-color: red }
.green { background-color: #00ee05 }
.blue { background-color: blue }
.yellow { background-color: #ffdd00 }
.purple { background-color: light-purple }
.orange { background-color: orange }
.white { background-color: white }
.bad { background-color: #FF7777 }
