/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.game-container {
}

.rack-container {
    width: 132px;
    height: 232px;
    border: 1px solid #222222;
    display: inherit;
    float: left;
    margin: 0 1em 0 0;
    background-color: #eeeeff;
}

.rack-container span {
    width: 10px;
    padding: 0 0 10px;
    display: block;
    float: left;
}

.board20 span {
    width: 5%;
    padding: 0 0 5%;
    display: block;
    float: left;
    margin: 0;
}

.board-container {
    width: 300px;
    border: 1px solid black;
    float: left;
    margin-right: 1em;
    background-color: #f0f0f0;
}

.board span {
    width: 15px;
    min-width: 15px;
    height: 15px;
    min-height: 15px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.rack {
    width: 78px;
    border: 1px solid black;
    margin-right: 15px;
}
.rack-left {
    float: left;
}
.rack-container {
    vertical-align: baseline;
}
.rack td {
    width: 6px;
    min-width: 6px;
    height: 6px;
    min-height: 6px;
    padding: 0;
    margin: 0;
    border: 0px;
}

.piece-square {
    background-color: #444444;
}

.red { background-color: red }
.green { background-color: green }
.blue { background-color: blue }
.yellow { background-color: yellow }
.purple { background-color: light-purple }
.orange { background-color: orange }
.white { background-color: white }
.bad { background-color: #FF7777 }
